.*
!.gitignore
*~
*.log
*.out
*.txt
*.zip
*.tgz
cmsg
**html/
**RemoteSystemsTempFiles/
**Archive/
**workfiles/
**node_modules/
**html/
**test/
**documentation/
**docs/
conf.json
apg-web.js
apg-web-gen.js
js-gen

